<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Crud usando material con angular</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="warn" (click)="openDialog()">
    Agregar
  </button>
</mat-toolbar>

<!--
<div *ngFor ="let equipo of equipos">
{{ equipo.nombre }}
</div>
-->

<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>


        <!-- Progress Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
          <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let row"> {{row.precio | currency}} </td>
        </ng-container>


        <ng-container matColumnDef="comentario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
          <td mat-cell *matCellDef="let row"> {{row.comentario}} </td>
        </ng-container>


        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
          <td mat-cell *matCellDef="let row"> {{row.accion}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>