<h1 mat-dialog-tittle>Agregar producto</h1>
<div mat-dialog-content>

    <form [formGroup]="equipForm">
        <mat-form-field appearance="outline">
            <mat-label>Nombre de producto</mat-label>
            <input formControlName="nombre" matInput placeholder="Ingresar el nombre">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label placeholder="Categoría">Categoría</mat-label>
            <mat-select formControlName="categoria">
                <mat-option value="computacion">Computación</mat-option>
                <mat-option value="electronica">Electrónica</mat-option>
                <mat-option value="redes">Redes</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Seleccione una fecha</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <label for=""><h1>Tipo</h1></label>
        <mat-radio-group formControlName="tipo" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let equipo of listaEquipos" [value] = "equipo">
               {{ equipo }}
            </mat-radio-button>
        </mat-radio-group>
    
        <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input formControlName="precio" matInput type="number" placeholder="Ingresar un precio">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Comentario</mat-label>
            <textarea formControlName="comentario" matInput placeholder="Comentario"> </textarea>
        </mat-form-field>
    </form>
    
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="agregarEquipo()" >Guardar</button>
</div>